---
import { getCollection } from 'astro:content';
import Tags from '@/components/Tags.svelte';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, sortItemsByDateDesc } from '../../utils/data-utils';

const posts = (await getCollection('projects')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    return tagA.name.localeCompare(tagB.name);
});
---

<BaseLayout title="Tags" description="Explore tag directory for easy navigation and discovery" showHeader={false}>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">All Tags</h1>
    <Tags tags={tags} posts={posts} client:idle />
</BaseLayout>
